---
layout: default
---
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <div>
    {{ post.excerpt }}
  </div>
  <p>
 {% for category in page.categories %}
  <a href="/search?q={{ category | slugize }}&a=blog">
    {{ category }}
    ,
  </a> 
 {% endfor %}
</p>
{% endfor %}
<p>{%- if paginator.previous_page_path -%}<a href="{{ paginator.previous_page_path }}">&lt; Previous</a>{%- endif -%} {%- if paginator.next_page_path -%}<a href="{{ paginator.next_page_path }}">Next &gt;</a>{%- endif -%}</p>
