<div class="result" hidden>
      {% unless includes.full %}<h3><a href="{{ includes.url | relative_url }}">{{ includes.title }}</a></h3>{% endunless %}
      <p>{{ includes.content | number_of_words | divided_by: 500.0 | ceil }} minute read</p>
      <p>
        {% if includes.full %}
        {{ includes.content }}
        {% else %}
        {{ includes.excerpt }}
        {% endif %}
      </p>
    <p>Tagged: {% for c in includes.tags %}<a href='{{ "/search" | relative_url }}?q={{ c }}&a=blog' class="tag">{{ c }}</a> {% endfor %}</p>
</div>
