---
layout: default
---
<p>{%- if paginator.previous_page_path -%}<a href="{{ paginator.previous_page_path }}">&lt; Previous</a>{%- endif -%} {%- if paginator.next_page_path -%}<a href="{{ paginator.next_page_path }}">Next &gt;</a>{%- endif -%}</p>
<article>
{{ content }}
</article>
<p>Tagged: 
 {% for category in page.categories %}
  <a href="/search?q={{ category | slugize }}&a=blog">
    {{ category }}
    ,
  </a> 
 {% endfor %}
</p>
{% include comments.html %}
<p>{%- if paginator.previous_page_path -%}<a href="{{ paginator.previous_page_path }}">&lt; Previous</a>{%- endif -%} {%- if paginator.next_page_path -%}<a href="{{ paginator.next_page_path }}">Next &gt;</a>{%- endif -%}</p>
